:root {
/* ===============  Colors  =============
### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

*/

--very-dark-magenta: hsl(300, 43%, 22%);
--soft-pink: hsl(333, 80%, 67%);
--dark-grayish-magenta: hsl(303, 10%, 53%);
--light-grayish-magenta: hsl(300, 24%, 96%);
--white: hsl(0, 0%, 100%);
   
/* ===============  Fonts  =============
### Body Copy

- Font size: 15px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 400, 500, 700

*/

--ff-title:'Spartan', sans-serif;
--ff-body: 'Spartan', sans-serif;

/* ===============  Others  =============*/
--header-height: 5em;

}